.circularProgressBar {
    position: relative;
    margin: 0 auto;
	z-index:9999;
}

.progressPercentage, .progressText {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 10px;
}

.progressPercentage {
	font-size: 30px;
    transform: translate(-50%, -85%);
	color:#ccc;
}
.progressText {
    transform: translate(-50%, 0%);
    color: #585858;
    font-size: 16px;
}